/* global stylesheet imported by `src/routes/+layout.svelte */

/*

:root {
  --some_stylish_property: 100%;
}

*/

.click_effect_scale:hover {
	transform: scale(1.08);
}
.click_effect_scale:active {
	transform: scale(1.14);
}

/* TODO refactor with `Text_Icon`*/
.icon_xs {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2ch;
	margin-right: var(--space_xs);
	text-align: center;
}

/* TODO name? */
.h3_subheading {
	margin-bottom: var(--space_lg);
	font-weight: 400;
}
