/* global stylesheet imported by `src/routes/+layout.svelte */

/*

:root {
  --some_stylish_property: 100%;
}

*/

.click_effect_scale:hover {
	transform: scale(1.08);
}
.click_effect_scale:active {
	transform: scale(1.14);
}
