# .env - environment variables for the server, lives in the repo's root

PUBLIC_SERVER_HOSTNAME=localhost
PUBLIC_SERVER_PORT=8999
PUBLIC_ZZZ_DIR="./.zzz" # set to "../.zzz" to include the parent directory, which includes all sibling directories to this one

SECRET_OPENAI_API_KEY=""
SECRET_ANTHROPIC_API_KEY=""
SECRET_GOOGLE_API_KEY=""
SECRET_GITHUB_API_TOKEN=""