# .env.production - environment variables for the server in production, lives in the repo's root

PUBLIC_ZZZ_DIR="./.zzz"
PUBLIC_SERVER_PROTOCOL=http
PUBLIC_SERVER_HOST=localhost
PUBLIC_SERVER_PORT=8999
PUBLIC_SERVER_API_PATH="/api"
PUBLIC_WEBSOCKET_URL=ws://localhost:8999/ws # TODO wss:
PUBLIC_SERVER_PROXIED_PORT=8999
PUBLIC_BACKEND_ARTIFICIAL_RESPONSE_DELAY=0 # delay in milliseconds for API responses, set to 0 for no delay

ALLOWED_ORIGINS="http://localhost:*"

SECRET_OPENAI_API_KEY=""
SECRET_ANTHROPIC_API_KEY=""
SECRET_GOOGLE_API_KEY=""
SECRET_GITHUB_API_TOKEN=""
