SECRET_OPENAI_API_KEY=""
SECRET_ANTHROPIC_API_KEY=""
SECRET_GOOGLE_API_KEY=""
SECRET_GITHUB_API_TOKEN=""
PUBLIC_SERVER_HOSTNAME=localhost
PUBLIC_SERVER_PORT=8999
PUBLIC_ZZZ_DIRS="./.zzz" # to include the parent directory, set to something like PUBLIC_ZZZ_DIRS="./.zzz:../.zzz" or just "../.zzz"