# .env.production - environment variables for the server in production, lives in the repo's root

PUBLIC_ZZZ_DIR="./.zzz" # set to "../.zzz" to include the parent directory, which includes all sibling directories to this one
PUBLIC_SERVER_PROTOCOL=https
# PUBLIC_SERVER_HOSTNAME=TODO_MY_HOSTNAME
PUBLIC_SERVER_PORT=""
PUBLIC_WEBSOCKET_URL=ws://localhost:8999/ws
PUBLIC_SERVER_PROXIED_PORT=8999

# SECRET_OPENAI_API_KEY=""
# SECRET_ANTHROPIC_API_KEY=""
# SECRET_GOOGLE_API_KEY=""
# SECRET_GITHUB_API_TOKEN=""